
header{
  margin-top: 15px;
}

.header-row{
  display:flex;
  justify-content: space-between;
}

@media (min-width:700px) {.average{
  position:relative;
}
}

@media (min-width:700px) {.average h3{
  position:absolute;
  right:0;
  bottom:0;
}
}
