
header{
  margin-top: 15px;
}


@media (min-width:700px) {.average{
  position:relative;
}
}

@media (min-width:700px) {.average h3{
  position:absolute;
  right:0;
  bottom:0;
}
}
#title{
  padding-left: 0;
}
.input-group-text{
  min-width:46px;
}
.cancel-button{
  margin-left:1%
}
